{% extends 'base.html' %} {% block content %}

<div id="carouselExampleDark" class="carousel carousel-dark slide top-sources" data-bs-ride="carousel">
    <h1><u>Top Sources</u></h1>
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner" style="text-align: center;">
        <div class="carousel-item active" data-bs-interval="10000">
            <div class="source-title">
                {{ sources[0].name}}
            </div>
            <div class="carousel-caption d-none d-md-block source-info">
                <h5>{{ sources[0].description}}</h5>
                <p>{{ sources[0].country}}</p>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
            <div class="source-title">
                {{ sources[1].name}}
            </div>
            <div class="carousel-caption d-none d-md-block source-info">
                <h5>{{ sources[1].description}}</h5>
                <p>{{ sources[1].country}}</p>
            </div>
        </div>
        <div class="carousel-item">
            <div class="source-title">
                {{ sources[2].name}}
            </div>
            <div class="carousel-caption d-none d-md-block source-info">
                <h5>{{ sources[2].description}}</h5>
                <p>{{ sources[2].country}}</p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>
<!-- Covid updates -->
<div id="carouselExampleDark2" class="carousel carousel-dark slide top-sources" data-bs-ride="carousel">
    <h1><u>Covid Updates</u></h1>
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark2" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark2" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark2" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner" style="text-align: center;">
        <div class="carousel-item active article-title" data-bs-interval="10000">
            <img src="{{ covid[0].image_url }}" alt="{{ covid[0].title}}" class="img-fluid w-75">
            <div class="carousel-caption d-none d-md-block source-info" style="color: white;">
                <h5>{{ covid[0].title}}</h5>
                <p>{{ covid[0].description}}</p>
            </div>
        </div>
        <div class="carousel-item article-title" data-bs-interval="2000">
            <img src="{{ covid[1].image_url }}" alt="{{ covid[1].title}}" class="img-fluid w-75">
            <div class="carousel-caption d-none d-md-block source-info" style="color: white;">
                <h5>{{ covid[1].title}}</h5>
                <p>{{ covid[1].description}}</p>
            </div>
        </div>
        <div class="carousel-item article-title">
            <img src="{{ covid[2].image_url }}" alt="{{ covid[2].title}}" class="img-fluid w-75">
            <div class="carousel-caption d-none d-md-block source-info" style="color: white;">
                <h5>{{ covid[2].title}}</h5>
                <p>{{ covid[2].description}}</p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark2" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark2" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>

<!-- Headlines -->
<div class="container-fluid row" style="display: flex; justify-content: center;">
    {% for headline in headlines%}
    <div class="col-md-6 card mb-3" style="max-width: 540px; margin:10px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="{{ headline.image_url }}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{ headline.title }}</h5>
                    <p class="card-text">{{ headline.description}}</p>
                    <p class="card-text"><small class="text-muted">{{ headline.published }}</small></p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<!-- Sports -->
<div class="card mb-3" style="max-width: 100vw;">
    <div class="row g-0">
        <div class="col-md-5">
            <div class="card-body">
                <h5 class="card-title">{{ football[2].title}}</h5>
                <p class="card-text">{{ football[2].descrtiption }}</p>
                <p class="card-text"><small class="text-muted">{{ football[2].published }}</small></p>
            </div>
        </div>
        <div class="col-md-7">
            <img src="{{ football[2].image_url }}" class="img-fluid" alt="...">
        </div>
    </div>
</div>
<div class="container-fluid row" style="display: flex; justify-content: center;">
    {% for article in football %}
    <div class=" col-md-3 card mb-3">
        <img src="{{ article.image_url }}" class="img-fluid" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{ article.title }}</h5>
            <p class="card-text">{{ article.description}}</p>
            <p class="card-text"><small class="text-muted">{{ article.published }}</small></p>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}